@using ArtInk.Site.Common;
@model IEnumerable<ArtInk.Site.ViewModels.Response.ServicioResponseDto>

@inject ICurrentUserAccessor CurrentUserAccessor

@{
    ViewData["Title"] = "Servicios";
    var usuario = CurrentUserAccessor.GetCurrentUser();
    var permiteEditar = usuario.Role == "Administrador";
}

<h1>Servicio</h1>

<p>
    @if(usuario.Role == "Administrador")
    {
        <a asp-action="Create" class="btn btn-primary mb-3">Crear Nuevo</a>
    }
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            var actions = new CommonActionsUser(){
                Id = item.Id,
                Editar = permiteEditar,
                Eliminar = true
            };
            <div class="col-md-6 col-sm-12 col-xxl-3">
                <div class="card mb-4 shadow-sm card-fixed-heigth sm">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                        <p class="card-text">
                            <strong>Descripción:</strong> @Html.DisplayFor(modelItem => item.Descripcion)<br />
                            <strong>Tarifa:</strong> @Html.DisplayFor(modelItem => item.Tarifa)<br />
                        </p>
                        <div class="mt-auto">
                            @await Html.PartialAsync("~/Views/Shared/_CommonActionsUser.cshtml", actions)
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
