@model ArtInk.Site.ViewModels.Request.ProductoRequestDTO

@{
    ViewData["Title"] = "Crear";
}

<div class="container mt-5">
    <div class="card mx-auto disable-hover" style="max-width: 800px;">
        <div class="card-header bg-primary text-white">
            <h4>Formulario de Producto</h4>
        </div>
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="Nombre" class="form-label"></label>
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="Descripcion" class="form-label"></label>
                            <input asp-for="Descripcion" class="form-control" />
                            <span asp-validation-for="Descripcion" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="Marca" class="form-label"></label>
                            <input asp-for="Marca" class="form-control" />
                            <span asp-validation-for="Marca" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="IdCategoria" class="form-label"></label>
                            <select asp-for="IdCategoria" class="form-select" asp-items="@(new SelectList(Model.Categorias,"Id","Nombre"))"></select>
                            <span asp-validation-for="IdCategoria" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="Costo" class="form-label"></label>
                            <input asp-for="Costo" class="form-control" />
                            <span asp-validation-for="Costo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="Sku" class="form-label"></label>
                            <input asp-for="Sku" class="form-control" />
                            <span asp-validation-for="Sku" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="Cantidad" class="form-label"></label>
                            <input asp-for="Cantidad" class="form-control" />
                            <span asp-validation-for="Cantidad" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="IdUnidadMedida" class="form-label"></label>
                            <select asp-for="IdUnidadMedida" class="form-select" asp-items="@(new SelectList(Model.UnidadMedidas,"Id","Nombre"))"></select>
                            <span asp-validation-for="IdUnidadMedida" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group form-check mb-3">
                    <input class="form-check-input" asp-for="Activo" />
                    <label class="form-check-label" asp-for="Activo"></label>
                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                    <button type="submit" class="btn btn-primary me-md-2">Crear</button>
                    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

