@using ArtInk.Site.ViewModels.Response
@model ArtInk.Site.ViewModels.Request.SucursalRequestDTO

@{
    ViewData["Title"] = "Crear";
}

<div class="container mt-5">
    <div class="card mx-auto disable-hover" style="max-width: 800px;">
        <div class="card-header bg-primary text-white">
            <h4>Formulario de Sucursal</h4>
        </div>
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="Nombre" class="form-label"></label>
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="Descripcion" class="form-label"></label>
                            <input asp-for="Descripcion" class="form-control" />
                            <span asp-validation-for="Descripcion" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="Telefono" class="form-label"></label>
                            <input asp-for="Telefono" class="form-control" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="CorreoElectronico" class="form-label"></label>
                            <input asp-for="CorreoElectronico" class="form-control" />
                            <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="IdProvincia" class="form-label"></label>
                            <select asp-for="IdProvincia" class="form-select" asp-items="@(new SelectList(Model.Provincias,"Id","Nombre"))"></select>
                            <span asp-validation-for="IdProvincia" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <div id="cantonSelect">
                                @await Html.PartialAsync("~/Views/Shared/_CantonSelect.cshtml", new List<CantonResponseDTO>())
                            </div>
                            <span asp-validation-for="IdCanton" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <div id="distritoSelect">
                                @await Html.PartialAsync("~/Views/Shared/_DistritoSelect.cshtml", new List<DistritoResponseDTO>())
                            </div>
                            <span asp-validation-for="IdDistrito" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <label asp-for="DireccionExacta" class="form-label"></label>
                            <input asp-for="DireccionExacta" class="form-control" />
                            <span asp-validation-for="DireccionExacta" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group form-check mb-3">
                    <input class="form-check-input" asp-for="Activo" />
                    <label class="form-check-label" asp-for="Activo"></label>
                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                    <button type="submit" class="btn btn-primary me-md-2">Crear</button>
                    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script src="~/js/direcciones/canton-select.js"></script>
<script src="~/js/direcciones/distrito-select.js"></script>