@using ArtInk.Site.ViewModels.Common;
@model ArtInk.Site.ViewModels.Request.HorarioRequestDto

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <div class="card mx-auto disable-hover" style="max-width: 800px;">
        <div class="card-header bg-primary text-white">
            <h4>Formulario de Horario</h4>
        </div>
        <div class="card-body">
            <form asp-action="Create" class="form-object">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="Dia" class="form-label"></label>
                            <select asp-for="Dia" class="form-select" asp-items="Html.GetEnumSelectList<DiaSemana>()"></select>
                            <span asp-validation-for="Dia" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="HoraInicio" class="form-label">Hora Inicio</label>
                            <input asp-for="HoraInicio" type="time" class="form-control" />
                            <span asp-validation-for="HoraInicio" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="HoraFin" class="form-label">Hora Fin</label>
                            <input asp-for="HoraFin" type="time" class="form-control" />
                            <span asp-validation-for="HoraFin" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                @await Html.PartialAsync("~/Views/Shared/_ButtonsForm.cshtml")
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}