@model ArtInk.Site.ViewComponents.General.UsuarioJWT;

@{
    var nombreUsuario = Model.NombreCompleto ?? "Invitado";
}

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/img/fondoArt.webp" class="navbar-logo" alt="Logo" />
                <span class="ms-2">ArtInk Studio</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            Usuario: @nombreUsuario
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link btnfos btnfos-5" asp-area="" asp-controller="Home"
                            asp-action="Index">Inicio</a>
                    </li>
                    @if(!String.IsNullOrEmpty(@Model.Role))
                    {
                        <li class="nav-item dropdown">
                            <button class="nav-link dropdown-toggle btnfos btnfos-5" id="sucursalesDropdown"
                                data-bs-toggle="dropdown" aria-expanded="false">Sucursal</button>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="sucursalesDropdown">
                                <li>
                                    <a class="nav-link btnfos btnfos-5" asp-area="" asp-controller="Sucursal"
                                        asp-action="Index">Sucursales</a>
                                    @if(Model.Role == "Moderador" || Model.Role == "Administrador")
                                    {
                                        <a class="nav-link btnfos btnfos-5" asp-area="" asp-controller="Horario"
                                        asp-action="Index">Horario</a>
                                        <a class="nav-link btnfos btnfos-5" asp-area="" asp-controller="SucursalHorario"
                                            asp-action="Index">Sucursal Horario</a>
                                        <a class="nav-link btnfos btnfos-5" asp-area="" asp-controller="Feriado"
                                            asp-action="Index">Feriados</a>
                                        <a class="nav-link btnfos btnfos-5" asp-area="" asp-controller="SucursalFeriado"
                                            asp-action="Index">Feriados Sucursal</a>
                                    }
                                </li>
                            </ul>
                        </li>

                        @if(Model.Role == "Moderador")
                        {
                            <li class="nav-item dropdown">
                                <button class="nav-link dropdown-toggle btnfos btnfos-5" id="gestionesDropdown"
                                    data-bs-toggle="dropdown" aria-expanded="false">Gestiones</button>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="gestionesDropdown">
                                    <li>
                                        <a class="dropdown-item btnfos btnfos-5" asp-area="" asp-controller="Reserva"
                                            asp-action="Index">Reservas</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item btnfos btnfos-5" asp-area="" asp-controller="Proforma"
                                            asp-action="Index">Proforma</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item btnfos btnfos-5" asp-area="" asp-controller="Factura"
                                            asp-action="Index">Facturaciones</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item btnfos btnfos-5" asp-area="" asp-controller="Inventario"
                                            asp-action="Index">Inventario</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item btnfos btnfos-5" asp-area="" asp-controller="InventarioProducto"
                                            asp-action="Index">Inventario productos</a>
                                    </li>
                                </ul>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link btnfos btnfos-5" asp-area="" asp-controller="Proveedor"
                                asp-action="Index">Proveedores</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link btnfos btnfos-5" asp-area="" asp-controller="Producto"
                                asp-action="Index">Productos</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link btnfos btnfos-5" asp-area="" asp-controller="Servicio"
                                asp-action="Index">Servicios</a>
                        </li>

                        @if(@Model.Role == "Administrador")
                        {
                            <li class="nav-item dropdown">
                                <button class="nav-link dropdown-toggle btnfos btnfos-5" id="usuariosDropdown"
                                    data-bs-toggle="dropdown" aria-expanded="false">Seguridad</button>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="usuariosDropdown">
                                    <li>
                                        <a class="dropdown-item btnfos btnfos-5" asp-area="" asp-controller="Usuario"
                                            asp-action="Index">Usuarios</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item btnfos btnfos-5" asp-area="" asp-controller="Rol"
                                            asp-action="Index">Roles</a>
                                    </li>
                                </ul>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link btnfos btnfos-5" asp-area="" asp-controller="Home"
                                asp-action="InicioSesion">Iniciar sesión</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>