@model ArtInk.Site.ViewModels.Request.ReservaRequestDto

<label asp-for="Hora" class="form-label"></label>
<select asp-for="Hora" class="form-select" asp-items="@(new SelectList(Model.Horarios,"Hora","Hora"))"></select>
<span asp-for="Hora" class="text-danger"></span>