@model ArtInk.Site.ViewModels.Request.ReservaRequestDto

@{
    ViewData["Title"] = "Crear Reserva";
}

<div class="container mt-5">
    <div class="card mx-auto disable-hover" style="max-width: 800px;">
        <div class="card-header bg-primary text-white">
            <h4>Formulario de Reserva</h4>
        </div>
        <div class="card-body">
            <form asp-action="Create">
                <div class="col-md-4">
                    <div class="mb-4">
                        <select id="IdSucursal" name="IdSucursal" class="form-select" asp-items="@(new SelectList(Model.Sucursales, "Id", "Nombre"))">
                            <option value="">Seleccione una sucursal</option>
                        </select>
                        <span asp-validation-for="IdSucursal" class="text-danger"></span>
                    </div>
                </div>
            </form>
            <div class="card-header">
                <h4>Calendario</h4>
                <div class="mb-4">
                    <label for="datepicker" class="form-label">Selecciona una fecha:</label>
                    <input type="text" id="datepicker" name="FechaReserva" class="form-control" placeholder="Selecciona una fecha">
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

</div>