<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="submit" class="btn btn-primary button-forms-h">Crear</button>
    <a asp-action="Index" class="btn btn-secondary button-forms-h">Cancelar</a>
</div>