@model IEnumerable<ArtInk.Site.ViewModels.Response.CantonResponseDTO>

<label name="IdCanton" class="form-label"></label>
<select id="IdCanton" name="IdCanton" class="form-select" onchange="cargarDistritos()" asp-items="@(new SelectList(Model,"Id","Nombre"))"></select>