@model ArtInk.Site.Models.CommonActionsUser

<div class="btn-group d-flex justify-content-between gap-2" role="group">
    @{
        if(Model.Editar)
        {
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn-sm flex-fill m-0" })        
        }

        if(Model.Detalles)
        {
            @Html.ActionLink("Detalles", "Details", new { id = Model.Id }, new { @class = "btn btn-secondary btn-sm flex-fill m-0" })        
        }

        if(Model.Eliminar)
        {
            @Html.ActionLink("Eliminar", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger btn-sm flex-fill m-0" })        
        }
    }
</div>