@model ArtInk.Site.Models.CommonActionsUser

<div class="btn-group d-flex justify-content-between gap-2">
    @{
        if(Model.Editar)
        {
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn-sm flex-fill m-0" })        
        }

        if(Model.Detalles)
        {
            @Html.ActionLink("Detalles", "Details", new { id = Model.Id }, new { @class = "btn btn-secondary btn-sm flex-fill m-0" })        
        }

        if(Model.Eliminar)
        {
            <button class="btn btn-danger btn-sm flex-fill m-0 data-eliminar" data-id="@Model.Id", data-bs-toggle="modal", data-bs-target="#modalConfirmacion">Eliminar</button>
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "hidden delete-register", hidden="hidden" })        
        }
    }
</div>