<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArtInk</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/artink.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ArtInk.Site.styles.css" asp-append-version="true" />
    @* CSS DATATABLES *@
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.bootstrap5.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/preloader.css" asp-append-version="true" />

</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ArtInk Studio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link btnfos btnfos-5" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btnfos btnfos-5" asp-area="" asp-controller="Factura" asp-action="Index">Factura</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btnfos btnfos-5" asp-area="" asp-controller="Sucursal" asp-action="Index">Sucursales</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle btnfos btnfos-5" href="#" id="usuariosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Usuarios</a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="usuariosDropdown">
                                <li>
                                    <a class="dropdown-item btnfos btnfos-5" asp-area="" asp-controller="Usuario" asp-action="Index">Usuarios</a>
                                </li>
                                <li>
                                    <a class="dropdown-item btnfos btnfos-5" asp-area="" asp-controller="Rol" asp-action="Index">Roles</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btnfos btnfos-5" asp-area="" asp-controller="Producto" asp-action="Index">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btnfos btnfos-5" asp-area="" asp-controller="Reserva" asp-action="Index">Reservas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btnfos btnfos-5" asp-area="" asp-controller="Servicio" asp-action="Index">Servicios</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container full-page">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted fixed-bottom">
        <div class="container-fluid">
            <div class="container text-center">
                &copy; 2024 - ArtInk.Site - <a href="#">Privacy</a>
            </div>
        </div>
        <div class="bubbles">
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
