<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArtInk</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker.min.css">
    @* CSS DATATABLES *@
    <link rel="stylesheet"
        href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.0.8/b-3.0.2/b-colvis-3.0.2/b-html5-3.0.2/b-print-3.0.2/fc-5.0.1/r-3.0.2/sc-2.4.3/sl-2.0.3/sr-1.4.1/datatables.min.css"
        asp-append-version="true" />
    @* CSS SITE *@
    <link rel="icon" href="~/img/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/ArtInk.Site.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/artink.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/fondoArt.webp" class="navbar-logo" alt="Logo" />
                    <span class="ms-2">ArtInk Studio</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link btnfos btnfos-5" asp-area="" asp-controller="Home"
                                asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle btnfos btnfos-5" href="#" id="sucursalesDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">Sucursal</a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="sucursalesDropdown">
                                <li>
                                    <a class="nav-link btnfos btnfos-5" asp-area="" asp-controller="Feriado"
                                        asp-action="Index">Feriados</a>
                                    <a class="nav-link btnfos btnfos-5" asp-area="" asp-controller="Sucursal"
                                        asp-action="Index">Sucursales</a>
                                    <a class="nav-link btnfos btnfos-5" asp-area="" asp-controller="SucursalFeriado"
                                        asp-action="Index">Feriados Sucursal</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle btnfos btnfos-5" href="#" id="gestionesDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">Gestiones</a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="gestionesDropdown">
                                <li>
                                    <a class="dropdown-item btnfos btnfos-5" asp-area="" asp-controller="Reserva"
                                        asp-action="Index">Reservas</a>
                                </li>
                                <li>
                                    <a class="dropdown-item btnfos btnfos-5" asp-area="" asp-controller="Factura"
                                        asp-action="Index">Facturaciones</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link btnfos btnfos-5" asp-area="" asp-controller="Producto"
                                asp-action="Index">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btnfos btnfos-5" asp-area="" asp-controller="Horario"
                               asp-action="Index">Horario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btnfos btnfos-5" asp-area="" asp-controller="Servicio"
                                asp-action="Index">Servicios</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle btnfos btnfos-5" href="#" id="usuariosDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">Seguridad</a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="usuariosDropdown">
                                <li>
                                    <a class="dropdown-item btnfos btnfos-5" asp-area="" asp-controller="Usuario"
                                        asp-action="Index">Usuarios</a>
                                </li>
                                <li>
                                    <a class="dropdown-item btnfos btnfos-5" asp-area="" asp-controller="Rol"
                                        asp-action="Index">Roles</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <div class="container full-page">
        <main role="main pt-1">
            @await Html.PartialAsync("~/Views/Shared/_ManejoMensajes.cshtml")
            @RenderBody()
            @await Html.PartialAsync("~/Views/Shared/_ConfirmacionRemover.cshtml")
        </main>
    </div>

    <footer class="border-top text-muted fixed-bottom">
        <div class="container-fluid">
            <div class="container text-center">
                &copy; 2024 - ArtInk.Site - <a href="#">Privacy</a>
            </div>
             <!-- Icono de WhatsApp -->
            <div class="whatsapp-icon">
                <a href="https://wa.me/60106969" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg"
                        alt="WhatsApp Icon" />
                </a>
            </div>
        </div>
        <div class="bubbles">
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
            <span class="bubble"></span>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"
        integrity="sha256-yE5LLp5HSQ/z+hJeCqkz9hdjNkk1jaiGG0tDCraumnA=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script
        src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.0.8/b-3.0.2/b-colvis-3.0.2/b-html5-3.0.2/b-print-3.0.2/fc-5.0.1/r-3.0.2/sc-2.4.3/sl-2.0.3/sr-1.4.1/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/locales/es.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>