@if (TempData["SuccessMessagePartial"] != null)
{
    <div class="toast-container position-fixed top-5 end-0 p-3 text-white">
        <div id="liveToast" class="toast toastPartial" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body bg-success d-flex">
                <div class="flex-grow-1">
                    @TempData["SuccessMessagePartial"]
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
}
@if (TempData["ErrorMessagePartial"] != null)
{
    <div class="toast-container position-fixed top-5 end-0 p-3 text-white">
        <div id="liveToast" class="toast toastPartial" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body bg-danger d-flex">
                <div class="flex-grow-1">
                    @TempData["ErrorMessagePartial"]
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
}